footer
  h2 Samples
  ul
    li
      a(href='/') /index.html
    li
      a(href='/subdir/') /subdir/index.html
    li
      a(href='/subdir/non-index.html') /subdir/non-index.html
    li
      a(href='/subdir/thirddir/') /subdir/thirddir/index.html
