@use "./_parts";

body {
  margin: 0;
  padding: {
    top: 1em;
    right: 3em;
    bottom: 1em;
    left: 3em;
  }
  background-color: #333;
  color: #fff;
  transition: background-color 3s linear;
}
