extends /assets/templates/_base

block vars
  - meta.title = 'No.01 Pug/SCSS/TS/React/Linter/Formatter/Hooks'

block body
  p
    | Surrounded border color is controlled by
    |
    code /assets/scripts/main.ts
  include /home/_partial
