link(rel='stylesheet', href='/subdir/_partial/partial.scss')
script(type='module', src='/subdir/_partial/partial.ts')
p.partial
  | This line is rendered/styled by
  |
  code /subdir/_partial/_partial.pug
  | ,
  |
  code /subdir/_partial/partial.scss
